# exclude pycharm idea settings
.idea/

# exclude the Glove files as it's too large
glove/*

# exclude the data directory due the github limitation
data/filter_all_t.json
data/processed_testing_data.csv